<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello</title>
    </head>
    <body>
        <h1>Chỉ những ai đăng nhập mới truy cập được trang này!</h1>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>



        <form th:action="@{/new}" method="post">
            Title: 
            <input type="text" name="title"  >
            <br>
            thumbnail 
            <input type="text" name="thumbnail" >
            <br>
            shortDescription:
            <input type="text" name="shortDescription" >
            <br>
            content 
            <input type="text" name="content"  >
            <br>
            category 
            <input type="text" name="categoryCode"  >
            <br>
            <input type="submit" value="Add"/>
        </form>
    </body>
</html>