<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/new/{id}(id=${newnew.id})}" method="post">
            Title: 
            <input type="text" name="title" th:value="${newnew.title}" >
            <br>
            thumbnail 
            <input type="text" name="thumbnail" th:value="${newnew.thumbnail}" >
            <br>
            shortDescription:
            <input type="text" name="shortDescription" th:value="${newnew.shortDescription}" >
            <br>
            content 
            <input type="text" name="content" th:value="${newnew.content}" >
            <br>
            category 
            <input type="text" name="categoryCode" th:value="${newnew.categoryCode}" >
            <br>
            <input type="submit" value="Update"/>
        </form>
    </body>
</html>
